<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="resources\css\styles.css">
    <title>Lotka Volterra Model </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="header">
        <h1>Lotka-Volterra Model</h1>
        <p> Made by Zara Becerra</p>
    </div>
    <div class="navbar">
        <a href="#introduction">Introduction</a>
        <a href="#explanation">Explanation</a>
        <a href="#results">Results & Equations</a>
        <a href="#citations"> Citations</a>
        <a href="#further" class = "right">Further Reading </a>
    </div>

    <div class="introduction" id="introduction">
        <h1>Introduction</h1>
        <p>
            Lorem <u>ipsum</u> dolor sit amet, consectetur adipiscing elit. Suspendisse elementum, nulla vel eleifend cursus, quam
            ligula gravida massa, et aliquet leo tellus eget diam. Phasellus vulputate, est eget cursus sagittis, risus nunc
            ullamcorper nibh, sed placerat felis purus ac orci. Integer placerat congue metus. Sed id blandit orci. Morbi id
            quam eget massa tincidunt viverra et id diam. Curabitur mi quam, tempor sit amet nibh a, feugiat sagittis nulla.
            Phasellus sollicitudin enim eget aliquam euismod. Aenean eu volutpat enim. Proin et tincidunt lorem. Nulla eros
            leo, ultricies id nisl vel, consectetur maximus risus. Mauris vel ex vel nisi elementum egestas. Maecenas sed
            est auctor tellus ullamcorper lobortis. Quisque efficitur sollicitudin cursus. Fusce euismod vel est non
            ullamcorper.
        </p>
    </div>
    <div class="explanation" id="explanation">
        <h1>Explanation</h1>
        <p>
            In egestas lorem quis dapibus hendrerit. Nullam sed lobortis ante. Duis quis rhoncus tortor. Proin porta mi
            mauris, vel ullamcorper risus placerat quis. Vestibulum at tortor nec massa maximus porta. Quisque interdum vel
            nisi vitae aliquam. Integer ac nisi ac quam tempor congue. In hac habitasse platea dictumst. Ut non nulla sit
            amet elit blandit feugiat at ut nulla. Cras nec eros dui. Aenean mattis feugiat ipsum eu tempor. Ut sem enim,
            dignissim nec leo vel, ultrices iaculis eros. Etiam id ultricies leo. Morbi eros turpis, tincidunt a dignissim
            id, ornare ac mi. Sed non sagittis ipsum, eu vestibulum lectus.
    
            Quisque enim erat, efficitur eget tellus et, ultrices suscipit tellus. Proin ac porttitor nunc. Nullam molestie,
            nulla eu elementum sodales, tellus velit tempus nulla, nec dapibus sapien ipsum sed dolor. Praesent nec volutpat
            mi, sit amet molestie orci. Maecenas et est quis velit elementum consectetur in sit amet ligula. Aenean vel
            iaculis libero. Aenean gravida, eros id tristique egestas, arcu ipsum porta odio, at aliquam elit urna et justo.
            Phasellus vitae augue orci.
        </p>
    </div>
    <div class="results" id="results">
        <h1>Results</h1>
        <p>
            Ut pellentesque egestas quam quis pellentesque. Quisque pulvinar ipsum quis tincidunt consectetur. Nullam
            convallis erat vitae lacinia ullamcorper. In hac habitasse platea dictumst. Vivamus lacinia bibendum
            pellentesque. Nam mollis gravida ante in pellentesque. Proin dignissim condimentum mauris, eu viverra est
            condimentum eu. Aliquam massa metus, accumsan eu auctor quis, elementum vel nisi. Nunc lacus nunc,
            scelerisque ac neque a, accumsan accumsan arcu. Nam enim lectus, tempus eu pretium non, pharetra congue
            nibh. Sed sapien turpis, sagittis a pulvinar et, ultricies nec leo. Nunc lobortis dapibus gravida.
            Vestibulum nec neque sit amet est consectetur sagittis nec quis sem. Nulla elit diam, egestas vel purus
            eget, bibendum dictum ipsum.

            Proin placerat rutrum faucibus. Curabitur id enim ornare, consectetur lectus ut, vulputate mi. Aliquam vitae
            dictum dui. Suspendisse suscipit metus id odio egestas convallis. Orci varius natoque penatibus et magnis
            dis parturient montes, nascetur ridiculus mus. Aenean eu dui at ligula fermentum sollicitudin nec vitae
            ante. Aliquam accumsan massa at sagittis finibus. Curabitur imperdiet dolor vulputate auctor consectetur.
            Praesent sit amet feugiat ex. Aliquam et arcu hendrerit, elementum sapien eget, luctus dui.

            Proin in justo a lorem dictum feugiat. Donec et vehicula magna. Vestibulum ante ipsum primis in faucibus
            orci luctus
        </p>
    </div>
    <div class="citations" id="citations">
        <h1>Citations</h1>
        <p>
            Maecenas turpis ligula, <u>aliquet</u> ac felis non, auctor auctor purus. Mauris a consequat sapien. Nullam fringilla
            arcu lobortis tortor sodales, a lobortis metus dapibus. Maecenas sapien nunc, vehicula quis venenatis id,
            tincidunt vel eros. Maecenas ultricies arcu in mi venenatis egestas. Vivamus quis eleifend ante. Ut non
            tristique lacus. Aenean facilisis pharetra nisi nec interdum. Praesent diam massa, scelerisque sit amet lobortis
            at, scelerisque sed dui. Vestibulum a molestie tortor. Vestibulum placerat ante vitae venenatis imperdiet. Proin
            fermentum nibh non leo efficitur, quis dictum libero lobortis. Mauris ultrices pellentesque dolor ut
            ullamcorper. Morbi nec ultricies odio.
    
            Duis et auctor neque. Morbi at accumsan magna, sed fermentum magna. Praesent elit justo, dictum eu fermentum
            vel, venenatis ac ex. Praesent nec cursus nisl. Sed tempor, ligula in suscipit malesuada, mauris libero iaculis
            turpis, ut efficitur leo massa et lacus. Morbi sodales libero sit amet quam congue maximus. Nunc pellentesque
            consectetur eros, non suscipit dolor malesuada at. Morbi hendrerit eu ante nec fringilla. Ut quam enim,
            porttitor eu aliquam in, vehicula at orci. Aliquam condimentum est id risus venenatis dictum. Proin ut commodo
            ex.
    
            Ut sit amet sollicit
        </p>
    </div>
    <div class="further" id="further">
        <h1>Further Reading</h1>
        <p>
            Maecenas turpis ligula, aliquet ac felis non, auctor auctor purus. Mauris a consequat sapien. Nullam fringilla
            arcu lobortis tortor sodales, a lobortis metus dapibus. Maecenas sapien nunc, vehicula quis venenatis id,
            tincidunt vel eros. Maecenas ultricies arcu in mi venenatis egestas. Vivamus quis eleifend ante. Ut non
            tristique lacus. Aenean facilisis pharetra nisi nec interdum. Praesent diam massa, scelerisque sit amet lobortis
            at, scelerisque sed dui. Vestibulum a molestie tortor. Vestibulum placerat ante vitae venenatis imperdiet. Proin
            fermentum nibh non leo efficitur, quis dictum libero lobortis. Mauris ultrices pellentesque dolor ut
            ullamcorper. Morbi nec ultricies odio.
    
            Duis et auctor neque. Morbi at accumsan magna, sed fermentum magna. Praesent elit justo, dictum eu fermentum
            vel, venenatis ac ex. Praesent nec cursus nisl. Sed tempor, ligula in suscipit malesuada, mauris libero iaculis
            turpis, ut efficitur leo massa et lacus. Morbi sodales libero sit amet quam congue maximus. Nunc pellentesque
            consectetur eros, non suscipit dolor malesuada at. Morbi hendrerit eu ante nec fringilla. Ut quam enim,
            porttitor eu aliquam in, vehicula at orci. Aliquam condimentum est id risus venenatis dictum. Proin ut commodo
            ex.
    
            Ut sit amet sollicit
        </p>
    </div>
    <div class="footer">
        <h2>Footer</h2>
    </div>
</body>

</html>